.button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.button:disabled {
  cursor: not-allowed;
}

.primary {
  color: var(--white);
  background-color: var(--dark-blue);
  border: 1px solid var(--dark-blue);
}

.primary:hover {
  background-color: #29527e;
}

.primary:active {
  background-color: var(--dark-blue);
}

.primary:disabled {
  background-color: var(--light-gray);
  border-color: var(--light-gray);
}

.outline {
  color: var(--black);
  background-color: var(--lightest-gray);
  border: 1px solid var(--medium-gray);
}

.outline:hover {
  background-color: var(--light-gray);
}

.outline:active {
  background-color: var(--lightest-gray);
}

.outline:disabled {
  background-color: var(--lightest-gray);
  border-color: var(--light-gray);
  color: var(--medium-gray);
}

.secondary {
  color: var(--dark-blue);
  background-color: var(--white);
  border: 1px solid var(--dark-blue);
}

.secondary:hover {
  background-color: var(--light-blue);
}

.secondary:active {
  background-color: var(--white);
}

.secondary:disabled {
  background-color: var(--light-blue);
}

.ghost {
  color: var(--dark-blue);
  background-color: transparent;
  border: 0;
}

.ghost:hover {
  background-color: var(--light-blue);
}

.ghost:active {
  background-color: var(--white);
}

.ghost:disabled {
  background-color: var(--light-blue);
}
